{{define "header"}}
<div id="top-bar">
  <div class="container">
    <ul>
      <li><a href="tel:+662-182-0619">(66)2 182-0619</a></li>
      <li><img src="/assets/images/logos/line_logo.png"
               alt="Saucony Line">@Vault26</li>
      <li><a href="https://www.instagram.com/sauconythailand/" target="_blank">
          <img src="/assets/images/logos/instagram_logo.png"
          alt="Saucony Instagram">
            <span class="hidden-sm-down">sauconythailand
        </a></li>
      <li><a href="https://www.facebook.com/sauconythailand/" target="_blank">
          <img src="/assets/images/logos/facebook_logo.png"
          alt="Saucony Facebook">
          <span class="hidden-sm-down">Saucony Thailand</span>
        </a></li>
    </ul>
  </div>
</div>
<nav>
  <div class="main container">
    <span class="site-logo">
      <a href="/">
        {{template "saucony-logo"}}
      </a>
    </span>
    <ul class="hidden-md-down">
      <li>
        <div class="main-menu">
          <div class="menu-wrapper">
            <a href="/products/men">
              <div><b>MEN</b></div>
              <div>ผู้ชาย</div>
            </a>
            <div class="menu-arrow"></div>
          </div>
          {{template "men-submenu"}}
        </div>
      </li>
      <li>
        <div class="main-menu">
          <div class="menu-wrapper">
            <a href="/products/women">
              <div><b>WOMEN</b></div>
              <div>ผู้หญิง</div>
            </a>
            <div class="menu-arrow"></div>
          </div>
          {{template "women-submenu"}}
        </div>
      </li>
      <li>
        <div class="main-menu">
          <div class="menu-wrapper">
            <div><b>HISTORY</b></div>
            <div>ประวิติ</div>
          </div>
        </div>
      </li>
      <li>
        <div class="main-menu">
          <div class="menu-wrapper">
            <div><b>TECHNOLOGY</b></div>
            <div>เทคโนโลยี</div>
          </div>
        </div>
      </li>
      <li>
        <div class="main-menu">
          <div class="menu-wrapper">
            <div><b>SALE</b></div>
            <div>สินค้าลดราคา</div>
          </div>
        </div>
      </li>
      <li>
        <div class="main-menu">
          <div class="menu-wrapper">
            <div><b>STORE</b></div>
            <div>จุดจำหน่าย</div>
          </div>
        </div>
      </li>
    </ul>
    <form action="/products" method="get" class=hidden-sm-down>
      <div class="input-group search-input">
        <div class="input-group-addon">
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
          <input type="text"
                class="form-control"
                name="query"
                placeholder="Search products"
                value="{{.QueryText}}">
      </div>
    </form>
    <div id="mobile-menu" class="ml-4 hidden-lg-up">
      <button>☰</button>
      <div class="menu">
        <div class="container">
          <ul>
            <li><a href="/products/men"><span class="fit-text">MEN</span></a></li>
            <li><a href="/products/women"><span class="fit-text">WOMEN</span></a></li>
            <li><a href="#"><span class="fit-text">BEST SELLERS</span></a></li>
            <li><a href="#"><span class="fit-text">SALE</span></a></li>
            <li><a href="#"><span class="fit-text">HISTORY</span></a></li>
            <li><a href="#"><span class="fit-text">TECHNOLOGY</span></a></li>
            <li><a href="#"><span class="fit-text">STORE</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<script>
  console.log({{.Cart.Products}});
</script>
<div id="cart">
  {{template "cart-products" .}}
</div>
{{end}}

{{define "cart-products"}}
  <div class="products {{if gt (len .Cart.Products) 0}}with-items{{end}}">
    <a href="#">
      <div class="cart-wrapper">
        {{template "shopping-cart"}}
        <div class="number-wrapper">
          <div>{{.Cart.Total}}</div>
        </div>
      </div>
    </a>
    <div class="cart-items">
      <div class="menu-arrow background"></div>
      <div class="menu-arrow"></div>
      <div class="p-2">สินค้าในตระกร้า ({{.Cart.Total}})</div>
      <hr>
      <div class="item-list">
        {{range .Cart.Products}}
          <div class="row no-gutter pt-1 px-3">
            <div class="col-sm-5 p-1">
              <div class="image bg-img" style="background-image: url({{remoteImageUrl .Product.PrimaryRemoteImage nil}})"></div>
            </div>
            <div class="col-sm-7 product-info">
              <div class="fit-text truncate">{{.Product.Model}}</div>
              <div>
                <span class="amount truncate">ไซส์: {{.Size}}&nbsp;&nbsp;</span>
                <span class="amount truncate">จำนวน: {{.Quantity}}</span>
              </div>
            </div>
          </div>
        {{end}}
      </div>
      <a href="#" class="fit-text mt-1 check-out text-right p-2">CHECK OUT&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </div>
  </div>
{{end}}


