body.font {
  font-family: interstate-regular, kanit-light, "Helvetica Neue", Arial, sans-serif;
  b {
    font-family: interstate-bold, kanit-semibold;
  }
  .fit-text {
    font-family: interstate-bold-condensed;
    letter-spacing: 2px;
  }
  .thai {
    font-family: kanit-light, "Helvetica Neue", Arial, sans-serif;
  }
}

a {
  color: initial;
  &:hover {
    text-decoration: none;
    color: initial;
  }
}

a.primary {
  &:hover {
    color: $red100;
  }
}

.bg-img {
  background-size: cover;
  background-position: center;
}

.text-bg-img {
  position: relative;
  &::after {
    content: ' ';
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 0.5;
    z-index: -10;
    background-size: cover;
    background-position: center;
  }
}

.lts-1 {
  letter-spacing: 1px;
}

.lts-2 {
  letter-spacing: 2px;
}

.lts-3 {
  letter-spacing: 3px;
}
.btn {
  border: none;
  border-radius: 0;
  letter-spacing: 2px;
  padding-left: 2em;
  padding-right: 2em;
}
.btn-primary {
  background-color: black;
  color: white;
  &:hover {
    background-color: $red100;
  }
}
.btn-red {
  background-color: $red100;
  color: white;
  &:hover {
    color: white;
    background-color: $red200;
  }
  &:focus {
    color: white;
  }
}
.btn-grey {
  background-color: $grey400;
  &:hover {
    background-color: $grey100;
  }
}

a.underline {
  color: $grey300;
  text-decoration: underline;
  &:hover {
    color: $red100;
  }
}

@mixin grid-gutter($space) {
  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: $space;
    padding-left: $space;
  }
  margin: 0;
}

.row.no-gutter {
  @include grid-gutter(0);
}

.back-to-top {
  text-align: center;
  margin: 3em 0;
  font-size: 0.8em;
  a {
    text-decoration: none;
    display: inline-block;
    color: black;
  }
  i {
    color: $red100;
    font-size: 1.9em;
    margin-bottom: 0.25em;
  }
}
.crumb {
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
  @media (max-width: 575px) {
    font-size: 0.7em;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    li {
      padding-right: 0.5em;
      &:last-child {
        padding-right: initial;
      }
    }
  }
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gender-pill {
  font-size: 8px;
  color: white;
  font-family: "Helvetica Neue";
  font-weight: normal;
  padding: 1px 3px;
  border-radius: 2px;
  margin: 0 0.5em;
  background-color: $black100;
  &.men {
    background-color: $blue100;
  }
  &.women {
    background-color: $pink200;
  }
}

.txt-green {
  color: $green100;
}
