@font-face {
  font-family: 'interstate-regular';
  src: url('../fonts/interstate-light.woff2') format('woff2'),
       url('../fonts/interstate-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'interstate-bold';
  src: url('../fonts/interstate-black.woff2') format('woff2'),
       url('../fonts/interstate-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'interstate-bold-condensed';
  src: url('../fonts/interstate-blackcondensed.woff2') format('woff2'),
       url('../fonts/interstate-blackcondensed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'kanit-light';
    src: url('../fonts/kanit-light.woff2') format('woff2'),
         url('../fonts/kanit-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kanit-semibold';
    src: url('../fonts/kanit-semibold.woff2') format('woff2'),
         url('../fonts/kanit-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
