#order-confirmation {
  .title {
    font-size: 0.9em;
  }
  .status {
    text-align: center;
    font-size: 1.1em;
    letter-spacing: 1px;
  }
  .check-logo {
    svg {
      width: auto;
      height: 4em;
      fill: $green100;
    }
  }
  #order-id {
    font-size: 1.25em;
    color: $red100;
  }
  .contact-info {
    font-size: 0.9em;
    line-height: 1.75em;
    b {
      font-size: 0.9em;
    }
  }
}

#payment-info {
  .bank {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    img {
      width: 40px;
      height: 40px;
      margin-right: 1em;
    } 
    .info {
      text-align: left;
    }
  }
  img {
    width: 35px;
  }
  .contact-info {
    a {
      margin-right: 1em;
    }
    img {
      margin-right: 0.5em;
    }
  }
}

#payment-upload {
  form {
    display: inline-block;
    background-color: $grey200;
  }
  .payment-upload-container {
    background: white;
    padding: 1em;
    border-bottom: 2px solid $grey300;
  }
  .error {
    display: none;
    color: $red100;
  }
  .success {
    display: none;
    color: $green100;
  }
}
