{{define "content"}}
<div id="checkout">
  <div class="bg-img page-bg">
    <div class="container">
      <div class="row mt-5">
        <div class="col-xl-10 offset-xl-1">
          <h2>
            <span class="fit-text">SHOPPING CART</span>
            <small>ตระกร้าสินค้า</small>
          </h2>
          {{template "checkout-orders" .}}
        </div>
      </div>
    </div>
    <div class="arrow-down">
      <span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </span>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-10 offset-sm-1 col-lg-6 offset-lg-3">
          <form id="order-form" action="/order" method="post">
            <div id="customer-information" class="py-5">
              <h4 class="text-center mb-4">
                <div class="fit-text mb-2">CUSTOMER INFORMATION</div>
                <small>ข้อมูลลูกค้า</small>
              </h4>
              <div class="row small-gutter">
                <div class="col-sm-6">
                  <label for="firstname">First Name ชื่อ <span class="required">*</span></label>
                  <div class="form-group {{if index .Flash.FormErrorMap "Firstname"}}has-danger{{end}}">
                    <input type="text" class="form-control"
                                       id="firstname" name="firstname"
                                       value="{{.Customer.Firstname}}">
                    {{if index .Flash.FormErrorMap "Firstname"}}
                      <div class="form-control-feedback">(required) กรุณากรอกข้อมูล</div>
                    {{end}}
                  </div>
                </div>
                <div class="col-sm-6">
                  <label for="lastname">Last Name นามสกุล <span class="required">*</span></label>
                  <div class="form-group {{if index .Flash.FormErrorMap "Lastname"}}has-danger{{end}}">
                    <input type="text" class="form-control" id="lastname"
                      name="lastname" value="{{.Customer.Lastname}}">
                    {{if index .Flash.FormErrorMap "Lastname"}}
                      <div class="form-control-feedback">(required) กรุณากรอกข้อมูล</div>
                    {{end}}
                  </div>
                </div>
              </div>
              <div class="row small-gutter">
                <div class="col-sm-12">
                  <label for="email">Email อีเมล์ <span class="required">*</span></label>
                  <div class="form-group {{if index .Flash.FormErrorMap "Email"}}has-danger{{end}}">
                    <input type="text" class="form-control" id="email"
                      name="email" value="{{.Customer.Email}}">
                    {{if index .Flash.FormErrorMap "Email"}}
                      <div class="form-control-feedback">(invalid email) กรุณากรอกอีเมล์ให้ถูกต้อง</div>
                    {{end}}
                  </div>
                </div>
              </div>
              <div class="row small-gutter">
                <div class="col-sm-12">
                  <label for="phone">Phone เบอร์โทรศัพท์ <span class="required">*</span></label>
                  <div class="form-group {{if index .Flash.FormErrorMap "Phone"}}has-danger{{end}}">
                    <input type="text" class="form-control" id="phone"
                      name="phone" value="{{.Customer.Phone}}">
                    {{if index .Flash.FormErrorMap "Phone"}}
                      <div class="form-control-feedback">(required) กรุณากรอกข้อมูล</div>
                    {{end}}
                  </div>
                </div>
              </div>
              <div class="row small-gutter">
                <div class="col-sm-12">
                  <label for="address">Shipping Address ที่อยู่ในการจัดส่งสินค้า <span class="required">*</span></label>
                  <div class="form-group {{if index .Flash.FormErrorMap "Address"}}has-danger{{end}}">
                    <textarea rows="3" class="form-control" id="address" name="address">
                      {{- .Customer.Address -}}
                    </textarea>
                    {{if index .Flash.FormErrorMap "Address"}}
                      <div class="form-control-feedback">(required) กรุณากรอกข้อมูล</div>
                    {{end}}
                  </div>
                </div>
              </div>
            </div> {{/* customer-information */}}
            <div id="confirm-order" class="text-center my-5">
              <button type="submit" class="btn">
                <span class="mr-3">{{template "circle-check"}}</span>
                <span class="fit-text pr-3">CONFIRM ORDER</span>
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>

  </div>
</div>
{{end}}

{{define "cart-products"}}
<span style="display:none"></span>
{{end}}
