{{define "content"}}
<div id="history">
  <div id="ch-1">
    <div class="bg-img" data-original="/assets/images/history/ch_1.jpg">
      <div class="ch-name">
        <div class="ch-number">CHAPTER 1</div>
        <div class="lead">STARTING LINE</div>
        <div class="underline"></div>
      </div>
    </div>
    <div class="bg-img page-1" data-original="/assets/images/history/ch_1_first_founded.jpg">
      <div class="details">
        Founded just two years after the first Olympic Marathon and one year after the first Boston Marathon. We've got running in our blood.
      </div>
    </div>
    <div class="bg-img page-2" data-original="/assets/images/history/ch_1_manufacture.jpg">
      <div class="details">
        <p>In 1898,four young businessmen opened the Saucony Shoe Manufacturing
        Company in Kutztown, Pennsylvania.</p>
        <p>By 1910, they were turning out 800 pairs of shoes a day from their
        two-story brick factory on the  Saucony Creek. THAT's A LOT OF SHOES!</p>
      </div>
    </div>
  </div>

  <div id="ch-2">
    <div class="bg-img" data-original="/assets/images/history/ch_2.jpg">
      <div class="ch-name">
        <div class="ch-number">CHAPTER 2</div>
        <div class="lead">PICKING UP SPEED</div>
        <div class="underline"></div>
      </div>
    </div>
    <div class="bg-img page-1" data-original="/assets/images/history/ch_2_run.jpg">
      <div class="details">
        <p>Throughout the early and mid 1900's, running became the focus of serious athletes.</p>
        <p>At the time, there weren't any high-performance running shoes.</p>
        <p>People were running in leather, spikes — even barefoot.</p>
      </div>
    </div>
    <div class="bg-img page-2" data-original="/assets/images/history/ch_2_shoe.jpg">
      <div class="details">
        <p>Saucony was determined to make a shoe that could change the way people run.</p>
        <p>The 7446 Spike was a solid start, but we were getting ready to hit the roads.</p>
      </div>
    </div>
    <div class="bg-img page-3" data-original="/assets/images/history/ch_2_1986.jpg">
      <div class="details">
        <p>In 1968, we found a new home in Cambridge, Mass, and have been loyal Bostonians ever since.</p>
      </div>
    </div>
  </div>

  <div id="ch-3">
    <div class="bg-img" data-original="/assets/images/history/ch_3.jpg">
      <div class="ch-name">
        <div class="ch-number">CHAPTER 3</div>
        <div class="lead">AMERICA<br>STARTS<br>RUNNING</div>
        <div class="underline"></div>
      </div>
    </div>
    <div class="bg-img page-1" data-original="/assets/images/history/ch_3_usa_running.jpg">
      <div class="details">
        <p>In 1972, American Frank Shorter won the gold in the Olympic
        marathon, igniting a running frenzy in the US.</p>
      </div>
    </div>
    <div class="bg-img page-2" data-original="/assets/images/history/ch_3_magazine.jpg">
      <div class="details">
        <p>In 1977, our shoes were awarded "Best Quality" in Consumer Reports magazine.</p>
      </div>
    </div>
    <div class="bg-img page-3" data-original="/assets/images/history/ch_3_serious_runners.jpg">
      <div class="details">
        <p>Saucony quickly went from the serious runner's best kept secret to
        the most sought-after running shoe of the time.</p>
      </div>
    </div>
  </div>

  <div id="ch-4">
    <div class="bg-img" data-original="/assets/images/history/ch_4.jpg">
      <div class="ch-name">
        <div class="ch-number">CHAPTER 4</div>
        <div class="lead">THE ERA OF<br>ORIGINALS</div>
        <div class="underline"></div>
      </div>
    </div>
    <div class="bg-img page-1" data-original="/assets/images/history/ch_4_originals.jpg">
      <div class="details">
        <p>The 80's were a busy time for us. And we have some awesome shoes (and superstars) to show for it.</p>
      </div>
    </div>
    <div class="bg-img page-2" data-original="/assets/images/history/ch_4_shoes.jpg">
    </div>
  </div>

  <div id="ch-5">
    <div class="bg-img" data-original="/assets/images/history/ch_5.jpg">
      <div class="ch-name">
        <div class="ch-number">CHAPTER 5</div>
        <div class="lead">DIXON'S MARATHON</div>
        <div class="underline"></div>
      </div>
    </div>
    <div class="bg-img page-1" data-original="/assets/images/history/ch_5_marathon.jpg">
      <div class="details">
        <p>In 1983, Saucony athlete Rod Dixon gave the world one of the most
        memorable marathon finishes to this day.</p>
        <p>Running in a pair of Dixon Racing flats he created alongside Saucony
        engineers, Dixon came from behind at the 26 mile mark to win the race by 9 seconds.</p>
      </div>
    </div>
    <div class="bg-img page-2" data-original="/assets/images/history/ch_5_dixon.jpg">
      <div class="details">
        <p>Dixon was famously quoted saying,<br><br><i>"All I want to do is drink beer and
          train like an animal."</i><br><br>We can get on board with that.</p>
      </div>
    </div>
  </div>

  <div id="ch-6">
    <div class="bg-img" data-original="/assets/images/history/ch_6.jpg">
      <div class="ch-name">
        <div class="ch-number">CHAPTER 6</div>
        <div class="lead">OLD FAVORITES,<br>NEW TWISTS</div>
        <div class="underline"></div>
      </div>
    </div>
    <div class="bg-img page-2" data-original="/assets/images/history/ch_6_shoes.jpg">
      <div class="details">
        <p class="top">We've been bringing back some of Saucony's finest, The
        Originals. A nod to our heritage, The Originals line showcases our signature styles and silhouettes.</p>
        <p class="bottom">And we partner with designers and sneaker shops across
        the globe to create limited edition originals. Keep an eye out for our
        latest Keep an eye out for our latest</p>
      </div>
    </div>
  </div>

  <div id="ch-7">
    <div class="bg-img" data-original="/assets/images/history/ch_7.jpg">
      <div class="ch-name">
        <div class="ch-number">CHAPTER 7</div>
        <div class="lead">LOYAL TO THE<br>SPORT</div>
        <div class="underline"></div>
      </div>
    </div>
    <div class="bg-img page-1" data-original="/assets/images/history/ch_7_cross_country.jpg">
      <div class="details">
        <p>2003 Cross Country, Saucony changed the landscape of XC competition
        with the launch of the Kilkenny XC Spike.</p>
        <p>Designed with the help of our elite athletes, the Kilkenny's
        lightweight slipper-like fit has propelled it into an industry leader today.</p>
      </div>
    </div>
    <div class="bg-img page-2" data-original="/assets/images/history/ch_7_run_for_good.jpg">
      <div class="details">
        <p>In 2006, Saucony launched the Run for Good Foundation to help end
        the childhood obesity epidemic.</p>
        <p>To date, over $1 million has been donated to causes that help kids
        commit to an active and healthy lifestyle.</p>
      </div>
    </div>
    <div class="bg-img page-3" data-original="/assets/images/history/ch_7_2009_kinvara.jpg">
      <div class="details">
        <p>2009 KINVARA - Inspired by our athletes' wishes for a training shoe
        with a more natural ride.</p>
        <p>Strip down to the bare essentials without compromising cushioning. As
        a pioneer of the 4MM heel-to-toe drop, the Kinvara was a precursor of
        changes throughout the Saucony line as well as the entire running shoe industry.</p>
      </div>
    </div>
    <div class="bg-img page-4" data-original="/assets/images/history/ch_7_find_your_strong.jpg">
      <div class="details">
        <p>In 2011 Saucony invited runners everywhere to Find Your Strong, a
        statement which continues to energize, inspire and unify runners to this day.</p>
      </div>
    </div>
    <div class="bg-img page-5" data-original="/assets/images/history/ch_7_performance.jpg">
      <div class="details">
        <p class="fit-text">2011 GEOMETRY OF STRONG</p>
        <p>As a result of insights from the Saucony Human Performance and
        Innovation lab, we began lowering the heel-to-toe drops in our core
        models from 12mm down to 8mm, starting with the Guide 5.</p>
      </div>
    </div>
    <div class="bg-img page-6" data-original="/assets/images/history/ch_7_athletes.jpg">
      <div class="details">
        <p class="fit-text text-center">ATHLETES</p>
        <p class="mt-4">We sponsor and support athletes who compete at the highest levels, in
        so doing we continue to push the envelope in terms of developing better
        technology and higher performing shoes and apparel.</p>
      </div>
    </div>
    <div class="bg-img page-7" data-original="/assets/images/history/ch_7_manifesto.jpg">
      <div class="details">
        <p class="fit-text text-center my-3">OUR MANIFESTO</p>
        <p><span class="focus">At Saucony, we exist for runners.</span> Runners inspire us, bring us new
        ideas, force us to be better. They drive our design and engineering.
        They keep us <span class="focus">competitive</span>. They keep us <span class="focus">hungry</span>. They keep us <span class="focus">honest<span>.</p>
        <p>Whether it’s in a conference room or out on a lunchtime run, we’re constantly talking about and arguing about our sport, runners and the products that fuel them. We love our products and we run in everything we make.</p>
        <p>This <span class="focus">focus and passion fuels us</span> as we strive to create the best running shoes and apparel on the planet. We leave work each day knowing we’ve done everything to make runners’ lives just a little bit better.</p>
        <p>At Saucony, a good day is when we get to run. <span class="focus">A great day is when we inspire someone else to run.</span></p>
      </div>
    </div>
  </div>

</div>
{{end}}

