{{define "content"}}
<div id="hero">
  <div class="bg-img promo">
    <div class="content">
      <a class="btn btn-primary mr-3" href="/products?query=KINVARA&gender%5B%5D=M">SHOP MEN'S</a>
      <a class="btn btn-primary" href="/products?query=KINVARA&gender%5B%5D=W">SHOP WOMEN'S</a>
    </div>
  </div>
</div>
<div id="card-menu" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <a href="/products">
            <div class="bg-img product-img"></div>
          </a>
          <h5><b>RUNNING</b></h5>
          <div class="info">
            <div class="details">รองเท้าวิ่ง</div>
            <a class="btn btn-primary" href="/products">หน้าสินค้า</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 history">
        <div class="card">
          <a href="/history">
            <div class="bg-img history-img"></div>
          </a>
          <h5><b>BRAND HISTORY</b></h5>
          <div class="info">
            <div class="details">ประวัติศาตร์ของรองเท้าวิ่ง <span class="eng">SAUCONY<span></div>
            <a class="hidden-xs-down btn btn-primary" href="/history">อ่านเพิ่มเติม</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 technology">
        <div class="card">
          <a href="/products?gender%5B%5D=M&gender%5B%5D=W&section%5B%5D=sale">
            <div class="bg-img technology-img"></div>
          </a>
          <h5><b>SALE</b></h5>
          <div class="info">
            <div class="details">สินค้าลดราคาพิเศษ</div>
            <a class="hidden-xs-down btn btn-primary" href="/products?gender%5B%5D=M&gender%5B%5D=W&section%5B%5D=sale">อ่านเพิ่มเติม</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="hot-product-title">
  <div class="container title">
    <div>
      <h1 class="fit-text">
        BEST SELLERS / AWARD WINNERS
        <div class="red-bar"></div>
      </h1>
    </div>
    <h4 class="mt-1">สินค้ายอดนิยม + สินค้าได้รับรางวัลยอดเยี่ยม</h4>
  </div>
</div>
<!-- <div id="hot-product-gender-title"> -->
<!--   <div class="container"> -->
<!--     <div class="row mt-5 gender"> -->
<!--       <div class="col-sm-6"> -->
<!--         <h2 class="fit-text mr-2">MEN</h2> -->
<!--         <span class="mr-2">ผู้ชาย</span> -->
<!--         <a class="underline" href="#">สินค้าทั้งหมด</a> -->
<!--       </div> -->
<!--       <div class="col-sm-6 hidden-xs-down"> -->
<!--         <h2 class="fit-text mr-2">WOMEN</h2> -->
<!--         <span class="mr-2">ผู้หญิง</span> -->
<!--         <a class="underline" href="#">สินค้าทั้งหมด</a> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
<div id="hot-products" class="mb-5">
  <div class="container">
    <div class="row no-gutter mt-5">
      <div class="col-sm-6 pr-2">
        <div class="row product-list">
          <div class="col-sm-6 mb-5">
            <div class="message fit-text">NEW ARRIVALS +</div>
            <a href="/products/men/kinvara-8?color=RED%2FBLK%2FTEA">
              <div class="product-img"
                style="background-image:url(http://img.wolverineworldwide.com/is/image/WolverineWorldWide/S20356-3_1?wid=800)"></div>
            </a>
            <div class="fit-text">KINVARA 8</div>
            <a href="/products/men/kinvara-8?color=RED%2FBLK%2FTEA" class="btn btn-grey fit-text">MORE DETAILS</a>
          </div>
          <div class="col-sm-6 mb-5">
            <div class="message fit-text">AWARD WINNER&nbsp;<i class="fa fa-star" aria-hidden="true"></i></div>
            <a href="/products/women/peregrine-7?color=TEA%2FPUR">
              <div class="product-img"
                style="background-image:url(http://img.wolverineworldwide.com/is/image/WolverineWorldWide/S10359-2_1?wid=800)"></div>
            </a>
            <div class="fit-text">PEREGRINE 7</div>
            <a href="/products/women/peregrine-7?color=TEA%2FPUR" class="btn btn-grey fit-text">MORE DETAILS</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 pl-2">
        <div class="row product-list">
          <div class="col-sm-6 mb-5">
            <div class="message fit-text">AWARD WINNER&nbsp;<i class="fa fa-star" aria-hidden="true"></i></div>
            <a href="/products/men/triumph-iso-3?color=BLU%2FSIL">
              <div class="product-img"
                style="background-image:url(http://img.wolverineworldwide.com/is/image/WolverineWorldWide/S20347-1_1?wid=800)"></div>
            </a>
            <div class="fit-text">TRIUMPH ISO 3</div>
            <a href="/products/men/triumph-iso-3?color=BLU%2FSIL" class="btn btn-grey fit-text">MORE DETAILS</a>
          </div>
          <div class="col-sm-6 mb-5">
            <div class="message fit-text">NEW ARRIVALS +</div>
            <a href="/products/men/hurricane-iso3?color=GREY%2FBLACK%2FCTN">
              <div class="product-img"
                style="background-image:url(http://img.wolverineworldwide.com/is/image/WolverineWorldWide/S20349-1_1?wid=800)"></div>
            </a>
            <div class="fit-text">HURRICANE ISO3</div>
            <a href="/products/men/hurricane-iso3?color=GREY%2FBLACK%2FCTN" class="btn btn-grey fit-text">MORE DETAILS</a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a class="btn btn-primary" href="/products">สินค้าทั้งหมด</a>
    </div>
  </div>
</div>
<!-- <div id="sale" class="text-center bg-img"> -->
<!--   <div class="details"> -->
<!--     <b>SALE</b> -->
<!--     <div class="content">เลือกซื้อรองเท้าหลากหลายสีสรรตามสไตล์คุณ ในราคาพิเศษ</div> -->
<!--     <a class="btn btn-red mt-5" href="#">สินค้าโปรโมชั่น</a> -->
<!--   </div> -->
<!-- </div> -->
<div id="socials" class="mt-5 mb-5">
  <div class="container">
    <div class="title">
      <a class="hashtag" href="https://www.instagram.com/saucony/" target="_blank">
        <h2 class="fit-text"><i>#</i>FINDYOURSTRONG</h2>
      </a>
      <a href="https://www.facebook.com/sauconythailand" class="mr-3" target="_blank">
        <img src="/assets/images/logos/facebook_logo.png" alt="Saucony Facebook">
        Saucony Thailand
      </a>
      <a href="https://www.instagram.com/sauconythailand/" target="_blank">
        <img src="/assets/images/logos/instagram_logo.png" alt="Saucony Instagram">
        sauconythailand
      </a>
    </div>
  </div>
  <script src="//lightwidget.com/widgets/lightwidget.js"></script>
  <iframe class="mt-3" src="//lightwidget.com/widgets/2c60adaae9dc57ae8f267786c968bef7.html"
    scrolling="no" allowtransparency="true" class="lightwidget-widget"
    style="width: 100%; border: 0; overflow: hidden;"></iframe>
</div>
{{end}}
