{{define "content"}}
<div id="product-directory">
  <div class="header">
    <div class="bg-img text-bg-img">
      <div class="container">
        <div class="crumb pt-3">
          <ul>
            <li><a href="/products"><b>PRODUCTS</b> สินค้าทั้งหมด</a></li>
          </ul>
        </div>
        <h2 class="fit-text mt-5">ALL PRODUCTS</h2>
      </div>
    </div>
  </div>
  <div id="product-list" class="py-5">
    <div class="container">
      <div class="row filters">
        <div class="col-sm-3">
          <form id="products-list" action="/products#product-list">
            {{if ne .QueryText ""}}
              <input type="hidden" name="query" value="{{.QueryText}}">
            {{end}}
            <section class="top card">
              <div class="gender">
                <div class="checkbox-link">
                  <input type="checkbox" name="gender[]"
                    value="M" id="men-box"
                    {{if contains .Genders "M"}}checked{{end}}>
                    <label for="men-box"><h5 class="fit-text">MEN</h5></label>
                </div>
                <div class="checkbox-link pull-right">
                  <input type="checkbox" name="gender[]"
                    value="W" id="women-box"
                    {{if contains .Genders "W"}}checked{{end}}>
                    <label for="women-box"><h5 class="fit-text">WOMEN</h5></label>
                </div>
              </div>
              <div class="links mt-3">
                <div class="checkbox-link">
                  <input type="checkbox" name="features[]"
                    value="new_arrivals" id="new-arrivals-box"
                    {{if contains .Features "new_arrivals"}}checked{{end}}>
                  <label for="new-arrivals-box"><b>NEW ARRIVALS</b> สินค้ามาใหม่</label>
                </div>
                <div class="checkbox-link">
                  <input type="checkbox" name="features[]"
                    value="best_sellers" id="best-sellers-box"
                    {{if contains .Features "best_sellers"}}checked{{end}}>
                  <label for="best-sellers-box"><b>BEST SELLERS</b> สินค้าขายดี</label>
                </div>
                <div class="checkbox-link">
                  <input type="checkbox" name="features[]"
                    value="award_winners" id="award-winners-box"
                    {{if contains .Features "award_winners"}}checked{{end}}>
                  <label for="award-winners-box"><b>AWARD WINNERS</b> รองเท้าได้รับรางวัล</label>
                </div>
                <div class="checkbox-link">
                  <input type="checkbox" name="features[]"
                    value="sale" id="sale-box"
                    {{if contains .Features "sale"}}checked{{end}}>
                  <label for="sale-box"><b>SALE</b> สินค้าลดราคา</label>
                </div>
              </div>
            </section>
            <section class="size card">
              <div><b>SIZE (US)</b></div>
              <ul class="mt-3 mb-2">
                {{range .T.ShoeSizes}}
                  <li>
                    <div class="checkbox-link">
                      <input type="checkbox" name="size[]"
                        value="{{.}}" id="size-{{.}}"
                        {{ if contains $.Sizes . }}checked{{end}}>
                      <label for="size-{{.}}">{{.}}</label>
                    </div>
                  </li>
                {{end}}
              </ul>
            </section>
            <section class="type card">
              <div><b>TYPE</b></div>
              <ul class="mt-3">
                <li>
                  <label class="mb-0" for="type-running"><b>RUNNING</b></label>
                </li>
                <li>
                  <div class="checkbox-link">
                    <input type="checkbox" name="collections[]"
                      value="neutral" id="type-neutral"
                      {{ if contains $.Collections "neutral" }}checked{{end}}>
                    <label for="type-neutral" class="ml-1">- Neutral</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-link">
                    <input type="checkbox" name="collections[]"
                      value="guidance" id="type-guidance"
                      {{ if contains $.Collections "guidance" }}checked{{end}}>
                    <label for="type-guidance" class="ml-1">- Guidance</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-link">
                    <input type="checkbox" name="collections[]"
                      value="natural" id="type-natural"
                      {{ if contains $.Collections "natural" }}checked{{end}}>
                    <label for="type-natural" class="ml-1">- Natural</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-link">
                    <input type="checkbox" name="collections[]"
                      value="trail" id="type-trail"
                      {{ if contains $.Collections "trail" }}checked{{end}}>
                    <label for="type-trail" class="ml-1">- Trail</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-link">
                    <input type="checkbox" name="collections[]"
                      value="racing" id="type-racing"
                      {{ if contains $.Collections "racing" }}checked{{end}}>
                    <label for="type-racing" class="ml-1">- Racing</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-link">
                    <input type="checkbox" name="collections[]"
                      value="originals" id="type-originals"
                      {{ if contains $.Collections "originals" }}checked{{end}}>
                    <label for="type-originals"><b>ORIGINALS</b></label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-link">
                    <input type="checkbox" name="collections[]"
                      value="runlife" id="type-life-on-the-run"
                      {{ if contains $.Collections "runlife" }}checked{{end}}>
                    <label for="type-life-on-the-run"><b>LIFE ON THE RUN</b></label>
                  </div>
                </li>
              </ul>
            </section>
          </form>
        </div>
        <div class="col-sm-9">
          {{with .QueryText}}
            <div class="search-text fit-text mt-1 mb-3">
              RESULTS FOR
              <span class="text ml-2 mr-1">
                <i id="clear-search" data-toggle="tooltip"
                  title="clear"
                  class="fa fa-window-close-o mr-1" aria-hidden="true"></i>{{.}}
              </span>
            </div>
          {{end}}
          <div class="row products">
            {{with .Products}}
              {{range .}}
                <div class="col-sm-4">
                  <div class="card product">
                    {{if contains .Features "best_runner_update"}}
                      <img class="award" src="/assets/images/best_runner_update.png"
                      alt="best runner update award">
                    {{end}}
                    {{if contains .Features "best_runner_buy"}}
                      <img class="award" src="/assets/images/best_runner_buy.png"
                      alt="best runner buy award">
                    {{end}}
                    <a href="{{.URL}}">
                      {{if .PrimaryRemoteImage}}
                        <div class="image bg-img"
                             style="background-image: url({{remoteImageUrl .PrimaryRemoteImage 500}})"></div>
                      {{else}}
                        <div class="image bg-img"
                          style="background-image: url(/assets/images/products/missing.jpg)"></div>
                      {{end}}
                    </a>
                    <div class="fit-text title truncate"><b>{{.Model}}</b></div>
                    <div class="price mt-2">
                      {{if .Discount}}
                        <div>
                          <span class="before-discount">
                            {{money .Price 0 " THB"}}
                          </span>
                          <span class="percent-discount ml-2">-{{.Discount}}%</span>
                        </div>
                      {{end}}
                      <div>{{money .SellPrice 0 " THB"}}</div>
                    </div>
                  </div>
                </div>
              {{end}}
            {{else}}
              <div class="col-sm-12 no-products-found">
                <div class="fit-text">NO PRODUCTS FOUND WITH SPECIFIED FILTERS</div>
                <div>ไม่พบสินค้าจากข้อมูลค้นหา</div>
              </div>
            {{end}}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{{end}}
