{{define "content"}}
<div id="stores">
  <div class="container">
    <h2 class="text-center">
      <div class="fit-text mb-3">SAUCONY STORES</div>
      <small>ร้านค้า</small>
    </h2>
    <button id="find-shoes-in-stores" class="mt-5">
      <img src="/assets/images/sneaker.png" alt="shoe">FIND SHOES IN STORES</button>
    <form class="mt-3" action="/stores/search#search-results" {{if .Model}}style="display:block"{{end}}>
      <div class="form-group">
        <div class="fit-text">FIND SHOES IN STORES</div>
      </div>
      <div class="form-group mt-3">
        <label for="product-model">MODEL</label>
        <select class="form-control" name="model" id="product-model">
          {{range $key, $value := .ProductOptionMap}}
            {{/* need to convert value to lower case otherwise, the first
            selection value cannot be sent with form*/}}
            <option value="{{lowerCase $key}}" {{if eq $.Model (lowerCase $key)}}selected{{end}}>{{$key}}</option>
          {{end}}
        </select>
      </div>
      <div class="form-group mt-3">
        <label for="product-color">COLOR</label>
        <select class="form-control" name="color" id="product-color">
          <option value="">ALL COLORS - สีทั้งหมด</option>
          {{range $key, $value := .ProductOptionMap}}
            {{range $value}}
              <option class="color"
                data-model="{{lowerCase $key}}"
                value="{{lowerCase .}}" {{if eq $.Color (lowerCase .)}}selected{{end}}>{{.}}</option>
            {{end}}
          {{end}}
        </select>
      </div>
      <div class="form-group mt-3">
        <label for="product-size">SIZE</label>
        <select class="form-control" name="size" id="product-size">
          <option value="">ALL SIZES - ไซส์ทั้งหมด</option>
          {{range .ShoeSizes}}
            <option value="{{.}}" {{if eq $.Size .}}selected{{end}}>{{.}}</option>
          {{end}}
        </select>
      </div>
      <div class="form-group text-center mt-5">
        <button type="submit" class="fit-text btn btn-primary">FIND</button>
      </div>
    </form>
    <div class="row mt-3">
      <div class="col-md-10 offset-md-1">
        <div id="search-results" class="search-result mt-3">
          {{if .CustomerMap}}
            <div class="text-center">
              <div>found products&nbsp;<span class="fit-text">{{upperCase .Model}}</span>&nbsp;in stores below</div>
            </div>
            <div class="alert alert-warning mt-3 text-center" role="alert">
              <div>
                สินค้าในร้านค้ามีการเปลี่ยนแปลงตลอดเวลา กรุณาโทรเช็คกับทางร้านค้าเพื่อข้อมูลที่แน่นอน
              </div>
              <div>Products in stores changes frequently. Please call the stores for accurate information.</div>
            </div>
          {{else if ne .Model ""}}
            <div class="text-center red">
              <div>Counldn't find the product name in any stores. Please contact the stores.</div>
              <div>ไม่พบสินค้าที่ระบุในร้านค้า กรุณาติดต่อร้านค้าใกล้เคียงเพื่อสอบถาม</div>
            </div>
          {{end}}
        </div>
        <table class="table table-hover mt-5">
          <thead>
            <tr>
              <th class="fit-text">STORE</th>
              <th class="fit-text">PHONE</th>
              <th class="fit-text">CITY</th>
            </tr>
          </thead>
          <tbody>
            {{if .CustomerMap}}
              {{range $key, $value := .CustomerMap}}
                <tr class="store">
                  <td>{{$value.Name}}</td>
                  <td>{{$value.Phone}}</td>
                  <td>{{$value.CityTh}}</td>
                </tr>

                  <tr class="store-products">
                    <td colspan="3">
                      {{ range $productName, $productValue := $value.ProductMap }}
                        <div class="product">
                          {{if $productValue.RemoteImage}}
                            <div class="image bg-img"
                              style="background-image: url({{remoteImageUrl $productValue.RemoteImage 500}}">
                            </div>
                          {{else}}
                            <div class="image bg-img"
                              style="background-image: url(/assets/images/products/missing.jpg)">
                            </div>
                          {{end}}
                          <div>{{$productName}}</div>
                          <div class="gender">
                            {{if $productValue.Gender }}
                              {{if eq $productValue.Gender "MW"}}
                                (men, women)
                              {{else if eq $productValue.Gender "M"}}
                                (men)
                              {{else}}
                                (women)
                              {{end}}
                            {{end}}
                          </div>
                          <div>sizes:
                            {{range $index, $element := $productValue.Sizes}}
                              <span>{{if $index}},&nbsp;{{end}}{{$element}}</span>
                            {{end}}
                          </div>
                        </div>
                      {{end}}
                    </td>
                  </tr>

              {{end}}
            {{else}}
              {{range .Stores}}
                <tr>
                  <td>{{.Name}}</td>
                  <td>{{.Phone}}</td>
                  <td>{{.CityTh}}</td>
                </tr>
              {{end}}
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{end}}
