{{define "content"}}
<div id="stores">
  <div class="container">
    <div class="alert alert-warning mt-5 text-center" role="alert">
      <div>
        สินค้าในร้านค้ามีการเปลี่ยนแปลงตลอดเวลา กรุณาโทรเช็คกับทางร้านค้าเพื่อข้อมูลที่แน่นอน
      </div>
      <div>Products in stores changes frequently. Please call the stores for accurate information.</div>
    </div>
    <h2 class="text-center">
      <div class="fit-text mb-3">SAUCONY STORES</div>
      <small>ร้านค้า</small>
    </h2>
    <form class="mt-5" action="/stores/search">
      <div class="form-group">
        <label for="find-shoes-in-stores" class="fit-text">FIND SHOES IN STORES</label>
      </div>
      <div class="form-group mt-3">
        <label for="product-model">MODEL</label>
        <select class="form-control" name="model" id="product-model">
          {{range $key, $value := .ProductOptionMap}}
            <option value="{{$key}}">{{$key}}</option>
          {{end}}
        </select>
      </div>
      <div class="form-group mt-3">
        <label for="product-color">COLOR</label>
        <select class="form-control" id="product-color">
          <option value="">ALL COLORS - สีทั้งหมด</option>
          {{range $key, $value := .ProductOptionMap}}
            {{range $value}}
              <option class="color" data-model="{{$key}}"
                value="{{.}}">{{.}}</option>
            {{end}}
          {{end}}
        </select>
      </div>
      <div class="form-group mt-3">
        <label for="product-size">SIZE</label>
        <select class="form-control" id="product-size">
          <option>ALL SIZES - ไซส์ทั้งหมด</option>
          {{range .ShoeSizes}}
            <option value={{.}}>{{.}}</option>
          {{end}}
        </select>
      </div>
      <div class="form-group text-center mt-3">
        <button type="submit" class="fit-text btn btn-primary">
          FIND
        </button>
      </div>
      <!-- <div class="form-group"> -->
      <!--   <div class="input-group"> -->
      <!--     <div class="input-group-addon"> -->
      <!--       <img src="/assets/images/sneaker.png" alt="shoe"> -->
      <!--     </div> -->
      <!--     <input id="find-shoes-in-stores" type="text" name="query" -->
      <!--                                                  class="form-control" -->
      <!--                                                  placeholder="shoe model name" -->
      <!--                                                  value="{{.Query}}"> -->
      <!--     <button type="submit" class="input-group-addon fit-text btn btn-primary"> -->
      <!--       FIND -->
      <!--     </button> -->
      <!--   </div> -->
      <!-- </div> -->
    </form>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="search-result">
          {{if .CustomerMap}}
            <div class="text-center">
              <div>found products&nbsp;<span class="fit-text">{{.Query}}</span>&nbsp;in stores below</div>
            </div>
          {{else if ne .Query ""}}
            <div class="text-center red">
              <div>Counldn't find the product name in any stores. Please contact the stores.</div>
              <div>ไม่พบสินค้าที่ระบุในร้านค้า กรุณาติดต่อร้านค้าใกล้เคียงเพื่อสอบถาม</div>
            </div>
          {{end}}
        </div>
        <table class="table table-hover mt-5">
          <thead>
            <tr>
              <th class="fit-text">STORE</th>
              <th class="fit-text">PHONE</th>
              <th class="fit-text">CITY</th>
            </tr>
          </thead>
          <tbody>
            {{if .CustomerMap}}
              {{range $key, $value := .CustomerMap}}
                <tr class="store">
                  <td>{{$value.Name}}</td>
                  <td>{{$value.Phone}}</td>
                  <td>{{$value.CityTh}}</td>
                </tr>

                  <tr class="store-products">
                    <td colspan="3">
                      {{ range $productName, $productValue := $value.ProductMap }}
                        <div class="product">
                          {{if $productValue.RemoteImage}}
                            <div class="image bg-img"
                              style="background-image: url({{remoteImageUrl $productValue.RemoteImage 500}}">
                            </div>
                          {{else}}
                            <div class="image bg-img"
                              style="background-image: url(/assets/images/products/missing.jpg)">
                            </div>
                          {{end}}
                          <div>{{$productName}}</div>
                          <div class="gender">
                            {{if $productValue.Gender }}
                              {{if eq $productValue.Gender "MW"}}
                                (men, women)
                              {{else if eq $productValue.Gender "M"}}
                                (men)
                              {{else}}
                                (women)
                              {{end}}
                            {{end}}
                          </div>
                          <div>sizes:
                            {{range $index, $element := $productValue.Sizes}}
                              <span>{{if $index}},&nbsp;{{end}}{{$element}}</span>
                            {{end}}
                          </div>
                        </div>
                      {{end}}
                    </td>
                  </tr>

              {{end}}
            {{else}}
              {{range .Stores}}
                <tr>
                  <td>{{.Name}}</td>
                  <td>{{.Phone}}</td>
                  <td>{{.CityTh}}</td>
                </tr>
              {{end}}
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{end}}
