{{define "content"}}
<div id="technology">
  <div class="everun text-center">
    <img src="/assets/images/technology/everun.png" alt="everun"></div>
  <div class="video-bg bg-img">
    <div class="video-container">
      <iframe src="https://www.youtube-nocookie.com/embed/TtbJmyRHm54?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="everun-tech">
    <div class="bg-img" data-original="/assets/images/technology/everun_technology.jpg"></div>
  </div>
  <div class="triumph bg-img"
    data-original="/assets/images/technology/triumph_everun.png">
    <div class="details">
      <p class="title fit-text">TRIUMPH ISO with EVERUN</p>
      <span>The Triumph is back, and better than ever. Featuring an EVERUN
        Landing Zone, TRI-FLEX outsole and ISOFIT upper, the Triumph ISO 2 ups
        the ante for runners seeking supreme cushioning in a smooth, flowing
        ride.</span>
    </div>
  </div>
  <div class="guide bg-img"
    data-original="/assets/images/technology/guide_everun.png">
    <div class="details">
      <p class="title fit-text">GUIDE 9 with EVERUN</p>
      <span>The new Guide 9 is a great support shoe that delivers smooth
        supportive guidance without sacrificing fit, flexibility or light
        weight. With a Dual Density medial post and full-length EVERUN topsole,
        the Guide 9 helps provide an efficient stride while also delivering a
         lively, resilient ride.</span>
    </div>
  </div>
  <div class="hurricane bg-img"
    data-original="/assets/images/technology/hurricane_everun.png">
    <div class="details">
      <p class="title fit-text">HURRICANE ISO 2 with EVERUN</p>
      <span>The Hurricane ISO 2 delivers award winning stability, and the plush
        cushioning you need to make your long runs longer. Featuring an EVERUN
        topsole, transitions from heel to forefoot are smoother than ever
        before. Plus, the new ISOFIT upper wraps and moves with your foot while
         you enjoy a long day on the road.</span>
    </div>
  </div>
  <div class="peregrine bg-img"
    data-original="/assets/images/technology/peregrine_everun.png">
    <div class="details">
      <p class="title fit-text">PEREGRINE 6 with EVERUN</p>
      <span>The new Peregrine 6 is a lightweight trail runner designed to be
        speedy and stable on rugged terrain. The addition of EVERUN Continuous
        Cushioning gives the Peregrine 6 a livelier ride than ever, and a new,
        aggressive PWRTRC outsole lets you grab the trail by the stones.</span>
    </div>
  </div>
  <div class="kinvara bg-img"
    data-original="/assets/images/technology/kinvara_everun.png">
    <div class="details">
      <p class="title fit-text">KINVARA 7 with EVERUN</p>
      <span>Lightweight and well cushioned, the Kinvara changed the running shoe
        game by nailing the blend of those unlikely companions. The newest
        addition to the iconic Kinvara family hits the road with more
        resilience, thanks to EVERUN cushioning, while continuing on its fast
        and durable bloodline. Kinvara fans, rejoice.</span>
    </div>
  </div>
</div>
{{end}}
