{{define "main"}}
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta property="og:title" content="Saucony Running Shoes | Saucony Thailand" />
    <meta property="og:url" content="http://www.sauconythailand.com" />
    <meta property="og:image" content="http://www.sauconythailand.com/assets/images/running_og.jpg" />
    <meta property="og:description" content="รองเท้าวิ่งระดับโลก Saucony เยี่ยมชมรองเท้าหลากหลายสไตล์ในแบบของคุณ และเราจะวิ่งไปพร้อมกัน FIND YOUR STRONG with Saucony" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
    {{template "styles"}}
    <title>
      {{if .Title}}
        {{.Title}} | Saucony Thailand
      {{else}}
        Saucony Thailand
      {{end}}
    </title>
  </head>
  <body>
    <a name="top"></a>
    {{template "header" .}}
    {{template "content" .}}
    {{template "footer"}}
    {{template "scripts"}}
  </body>
</html>
{{end}}
