{{define "main"}}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
    {{template "styles"}}
    <title>
      {{if .Title}}
        {{.Title}} | Saucony Thailand
      {{else}}
        Saucony Thailand
      {{end}}
    </title>
  </head>
  <body>
    <a name="top"></a>
    {{template "header" .}}
    {{template "content" .}}
    {{template "footer"}}
    {{template "scripts"}}
  </body>
</html>
{{end}}
