{{define "men-submenu"}}
<div class="submenu">
  <div class="container py-4">
    <div class="row">
      <div class="col-sm-2 offset-sm-1">
        <section>
          <div class="header">
            <b class="eng">RUNNING</b>
            <b>รองเท้าวิ่ง</b>
          </div>
          <ul class="menu">
            <li>
              <a href="/products?gender%5B%5D=M&collections%5B%5D=natural">
                <span class="eng">Natural</span> วิ่งธรรมชาติ
              </a></li>
            <li>
              <a href="/products?gender%5B%5D=M&collections%5B%5D=neutral">
                <span class="eng">Neutral</span> เท้าธรรมดา
              </a></li>
            <li>
              <a href="/products?gender%5B%5D=M&collections%5B%5D=guidance">
                <span class="eng">Stability</span> เท้าแบน
              </a></li>
            <li>
              <a href="/products?gender%5B%5D=M&collections%5B%5D=trail">
                <span class="eng">Trail</span> วิ่งป่า
              </a></li>
            <li>
              <a href="/products?gender%5B%5D=M&collections%5B%5D=racing">
                <span class="eng">Racing</span> เฉพาะแข่ง
              </a></li>
          </ul>
        </section>
      </div>
      <div class="col-sm-2">
        <section>
          <div class="header">
            <b class="eng">WALKING</b>
            <b>รองเท้าเดิน</b>
          </div>
          <ul class="menu">
            <li>
              <a href="/products?gender%5B%5D=M&collections%5B%5D=originals">
                <span class="eng">Originals</span>
              </a>
            </li>
            <li>
              <a href="/products?gender%5B%5D=M&collections%5B%5D=neutral&collections%5B%5D=guidance&collections%5B%5D=natural">
                <span class="eng">Fitness</span> ฟิตเนส/เข้ายิม
              </a>
            </li>
          </ul>
        </section>
      </div>
      <div class="col-sm-3">
        <section>
          <ul class="menu">
            <li>
              <a href="/products?gender%5B%5D=M&features%5B%5D=new_arrivals">
                <b class="eng">NEW ARRIVALS</b>
                <b>สินค้ามาใหม่</b>
              </a>
            </li>
            <li>
              <a href="/products?gender%5B%5D=M&features%5B%5D=best_sellers">
                <b class="eng">BEST SELLERS</b>
                <b>สินค้าขายดี</b>
              </a>
            </li>
            <li>
              <a href="/products?gender%5B%5D=M&features%5B%5D=award_winners">
                <b class="eng">AWARD WINNERS</b>
                <b>รองเท้าได้รับรางวัล</b>
              </a>
            </li>
            <li>
              <a href="/products?gender%5B%5D=M&features%5B%5D=sale">
                <b class="eng">SALES</b>
                <b>สินค้าลดราคา</b>
              </a>
            </li>
          </ul>
        </section>
      </div>
      <div class="col-sm-4">
        <section>
          <a href="/products?gender%5B%5D=M&types%5B%5D=kinvara_8">
            <div class="bg-img product-image"></div>
          </a>
        </section>
      </div>
    </div>
  </div>
</div>
{{end}}
