{{define "women-submenu"}}
<div class="submenu">
  <div class="container py-3">
    <div class="row">
      <div class="col-sm-3">
        <section>
          <div class="header">
            <b class="eng">RUNNING</b>
            <b>รองเท้าวิ่ง</b>
          </div>
          <ul class="menu">
            <li>
              <a href="/products?gender%5B%5D=W&collections%5B%5D=neutral">
                <span class="eng">Neutral</span> เท้าธรรมดา
              </a></li>
            <li>
              <a href="/products?gender%5B%5D=W&collections%5B%5D=guidance">
                <span class="eng">Stability</span> เท้าแบน
              </a></li>
            <li>
              <a href="/products?gender%5B%5D=W&collections%5B%5D=natural">
                <span class="eng">Natural</span> วิ่งธรรมชาติ
              </a></li>
            <li>
              <a href="/products?gender%5B%5D=W&collections%5B%5D=trail">
                <span class="eng">Trail</span> วิ่งป่า
              </a></li>
            <li>
              <a href="/products?gender%5B%5D=W&collections%5B%5D=racing">
                <span class="eng">Racing</span> เฉพาะแข่ง
              </a></li>
          </ul>
        </section>
      </div>
      <div class="col-sm-3">
        <section>
          <div class="header">
            <b class="eng">WALKING</b>
            <b>รองเท้าเดิน</b>
          </div>
          <ul class="menu">
            <li>
              <a href="/products?gender%5B%5D=W&collections%5B%5D=originals">
                <span class="eng">Originals</span>
              </a>
            </li>
            <li>
              <a href="/products?gender%5B%5D=W&collections%5B%5D=runlife">
                <span class="eng">Life on The Run</span>
              </a></li>
            <li>
              <a href="/products?gender%5B%5D=W&collections%5B%5D=neutral&collections%5B%5D=guidance&collections%5B%5D=natural">
                <span class="eng">Gym</span> ฟิตเนส
              </a>
            </li>
          </ul>
        </section>
      </div>
      <div class="col-sm-3">
        <section>
          <div class="header">
            <b class="eng">BEST SELLERS</b>
            <b>รุ่นที่ขายดีสุด</b>
          </div>
          <ul class="menu">
            <li>
              <a href="/products?gender%5B%5D=W&types%5B%5D=kinvara_8">
                <span class="eng">KINVARA</span>
              </a>
            </li>
            <li>
              <a href="/products?gender%5B%5D=W&types%5B%5D=triumph_iso">
                <span class="eng">TRIUMP ISO</span>
              </a>
            </li>
            <li>
              <a href="/products?gender%5B%5D=W&types%5B%5D=kineta_relay">
                <span class="eng">KINETA RELAY</span>
              </a>
            </li>
          </ul>
        </section>
      </div>
      <div class="col-sm-3">
        <section>
          <div class="header">
            <b class="eng">AWARD WINNERS</b>
            <b>รุ่นที่ได้รับรางวัล</b>
          </div>
          <ul class="menu">
            <li>
              <a href="/products?gender%5B%5D=W&features%5B%5D=award_winners">
                <span class="eng">ALL AWARD WINNERS</span>
              </a>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>
{{end}}
