{{define "content"}}
<div id="hero">
  <div class="bg-img promo"></div>
</div>
<div id="card-menu" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="bg-img product-img"></div>
          <h5><b>PRODUCTS</b></h5>
          <div class="details">รองเท้าวิ่งสำหรับผู้ชายและผู้หญิง</div>
          <a class="btn btn-primary" href="#">หน้าสินค้า</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="bg-img history-img"></div>
          <h5><b>BRAND HISTORY</b></h5>
          <div class="details">ประวัติศาตร์ของรองเท้าวิ่ง <span class="eng">SAUCONY<span></div>
          <a class="btn btn-primary" href="#">อ่านเพิ่มเติม</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="bg-img technology-img"></div>
          <h5><b>TECHNOLOGY</b></h5>
          <div class="details">นวัฒกรรมเพื่อการวิ่งที่ดีที่สุด</div>
          <a class="btn btn-primary" href="#">อ่านเพิ่มเติม</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="hot-product-title">
  <div class="container title">
    <div>
      <h1 class="fit-text">
        BEST SELLERS + NEW ARRIVALS
        <div class="red-bar"></div>
      </h1>
    </div>
    <h4 class="mt-1 lts-3">สินค้ายอดนิยม + สินค้ามาใหม่</h4>
  </div>
</div>
<div id="hot-product-gender-title">
  <div class="container">
    <div class="row mt-5 gender">
      <div class="col-sm-6">
        <h2 class="fit-text mr-2">MEN</h2>
        <span class="mr-2">ผู้ชาย</span>
        <a class="underline" href="#">สินค้าทั้งหมด</a>
      </div>
      <div class="col-sm-6">
        <h2 class="fit-text mr-2">WOMEN</h2>
        <span class="mr-2">ผู้หญิง</span>
        <a class="underline" href="#">สินค้าทั้งหมด</a>
      </div>
    </div>
  </div>
</div>
<div id="hot-products">
  <div class="container">
    <div class="row no-gutter">
      <div class="col-sm-6 pr-2">
        <div class="row product-list">
          <div class="col-sm-6">
            <div class="message fit-text">NEW ARRIVALS +</div>
            <div class="product-img"></div>
            <div class="fit-text">FREEDOM ISO FREEDOM ISO FREEDOM FREEDOM</div>
            <a href="#" class="btn btn-grey lts-2">แบบสีอื่น</a>
          </div>
          <div class="col-sm-6">
            <div class="product-img"></div>
            <div class="fit-text">FREEDOM ISO</div>
            <a href="#" class="btn btn-grey lts-2">แบบสีอื่น</a>
          </div>
          <div class="col-sm-6">
            <div class="product-img"></div>
            <div class="fit-text">FREEDOM ISO FREEDOM ISO FREEDOM ISO</div>
            <a href="#" class="btn btn-grey lts-2">แบบสีอื่น</a>
          </div>
          <div class="col-sm-6">
            <div class="message fit-text">CUSTOMERS' CHOICE</div>
            <div class="product-img"></div>
            <div class="fit-text">FREEDOM ISO</div>
            <a href="#" class="btn btn-grey lts-2">แบบสีอื่น</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 pl-2">
        <div class="row product-list">
          <div class="col-sm-6">
            <div class="product-img"></div>
            <div class="fit-text">FREEDOM ISO</div>
            <a href="#" class="btn btn-grey lts-2">แบบสีอื่น</a>
          </div>
          <div class="col-sm-6">
            <div class="product-img"></div>
            <div class="fit-text">FREEDOM ISO</div>
            <a href="#" class="btn btn-grey lts-2">แบบสีอื่น</a>
          </div>
          <div class="col-sm-6">
            <div class="product-img"></div>
            <div class="fit-text">FREEDOM ISO</div>
            <a href="#" class="btn btn-grey lts-2">แบบสีอื่น</a>
          </div>
          <div class="col-sm-6">
            <div class="product-img"></div>
            <div class="fit-text">FREEDOM ISO</div>
            <a href="#" class="btn btn-grey lts-2">แบบสีอื่น</a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a class="btn btn-primary" href="">สินค้าทั้งหมด</a>
    </div>
  </div>
</div>
<div id="sale" class="text-center bg-img mt-5">
  <div class="details">
    <b>SALE</b>
    <div class="content lts-3">เลือกซื้อรองเท้าตามหลากหลายสีสรรตามสไตล์คุณ ในราคาพิเศษ</div>
    <a class="btn btn-red mt-5" href="#">สินค้าโปรโมชั่น</a>
  </div>
</div>
<div id="socials" class="mt-5">
  <div class="title">
    <a href="https://www.instagram.com/saucony/" target="_blank">
      <h2 class="fit-text"><i>#</i>FindYourStrong</h2>
    </a>
    <a href="https://www.instagram.com/saucony/" target="_blank">
      <img src="/assets/images/logos/instagram_logo.png" alt="Saucony Instagram">
      saucony
    </a>
  </div>
  <script src="//lightwidget.com/widgets/lightwidget.js"></script>
  <iframe src="//lightwidget.com/widgets/2c60adaae9dc57ae8f267786c968bef7.html"
    scrolling="no" allowtransparency="true" class="lightwidget-widget"
    style="width: 100%; border: 0; overflow: hidden;"></iframe>
</div>
{{end}}
