{{define "main"}}
<html>
  <head>
    {{template "styles"}}
  </head>
  <body>
    {{template "header"}}
    {{template "content" .}}
    {{template "footer"}}
    {{template "scripts"}}
  </body>
</html>
{{end}}
