{{define "content"}}
<div id="product">
  <div class="container">
    <div class="crumb pt-3">
      <ul>
        <li><a href="/products?gender%5B%5D=M&amp;gender%5B%5D=W"><b>PRODUCTS</b> สินค้าทั้งหมด</a></li>
        <li>&gt;</li>
        <li><a href="/products?gender%5B%5D=M"><b>MEN</b></a></li>
        <li>&gt;</li>
        <li><b>KINETA REPLAY</b></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-sm-7">photo</div>
      <div class="col-sm-5">
        <h2 class="fit-text">KINETA REPLAY</h2>
      </div>
    </div>
    <div class="image bg-img" style="background-image: url(/assets/images/products/3daff729-3004-473a-bc65-3b81c5db7505-S10318-2_1.jpg)"></div>
</div>
{{end}}
