{{define "women-submenu"}}
<div class="submenu">
  <div class="container py-3">
    <div class="row">
      <div class="col-sm-3">
        <section>
          <div class="header">
            <b class="eng">WOMEN RUNNING</b>
            <b>รองเท้าวิ่ง</b>
          </div>
          <ul class="menu">
            <li><a href="#"><span class="eng">Neutral</span> เท้าธรรมดา</a></li>
            <li><a href="#"><span class="eng">Stability</span> เท้าแบน</a></li>
            <li><a href="#"><span class="eng">Natural</span> วิ่งธรรมชาติ </a></li>
            <li><a href="#"><span class="eng">Trail</span> วิ่งป่า</a></li>
            <li><a href="#"><span class="eng">Racing</span> เฉพาะแข่ง</a></li>
          </ul>
        </section>
      </div>
      <div class="col-sm-3">
        <section>
          <div class="header">
            <b class="eng">WALKING</b>
            <b>รองเท้าเดิน</b>
          </div>
          <ul class="menu">
            <li><a href="#"><span class="eng">Originals</span></a></li>
            <li><a href="#"><span class="eng">Life on The Run</span></a></li>
            <li><a href="#"><span class="eng">Gym</span> ฟิตเนส</a></li>
          </ul>
        </section>
      </div>
      <div class="col-sm-3">
        <section>
          <div class="header">
            <b class="eng">BEST SELLERS</b>
            <b>รุ่นที่ขายดีสุด</b>
          </div>
          <ul class="menu">
            <li><a href="#"><span class="eng">KINVARA</span></a></li>
            <li><a href="#"><span class="eng">TRIUMP ISO</span></a></li>
            <li><a href="#"><span class="eng">KINETA RELAY</span></a></li>
          </ul>
        </section>
      </div>
      <div class="col-sm-3">
        <section>
          <div class="header">
            <b class="eng">AWARD WINNERS</b>
            <b>รุ่นที่ได้รับรางวัล</b>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
{{end}}
